@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#Title {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

.header {
    background: #5c7cfa;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.item {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: table-cell;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.item:hover {
    background: #748ffc;
}

.item:active, .item.active {
    background: white;
    color: #5c7cfa;
}
