#header{
    text-align: center;
}
#content {
    text-align: center;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.subMenu-box{
    grid-area: 1 / 1 / 2 / 2;
}
.learn-box {
    border: 2px solid black;
    margin-right: 20px;
    grid-area: 1 / 2 / 2 / 3;

    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.backWord{
    grid-area: 1 / 1 / 2 / 2;
}
.word1{
    grid-area: 1 / 2 / 2 / 3;
}
.nextWord{
    grid-area: 1 / 3 / 2 / 4;
}