#subMenu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
#subMenu ul li {
    list-style: none;
}
#subMenu .menuLink {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black;
}
#subMenu .menuLink:hover {
    text-decoration: underline;
}